.header-logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.search {
    width: 28px;
}

.search-pokemon {
    display: flex;
    align-items: center;
    gap: 12px;
}

.pokemon {
    padding: 32px 40px;
    min-height: calc(100vh - 288px);
}

#pokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 64px;
    height: 100%;
}

.loading-button {
    padding-top: 32px;
    display: flex;
    justify-content: center;
}

.pokemon-card {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 24px;
    border-radius: 12px;
    cursor: pointer;
}

.pokemon-card:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;
}

.pokemon-card h3 {
    color: white;
}

.pokemon-img {
    width: 150px;
    height: auto;
    object-fit: cover;
}

.img-wrapper {
    width: 51px;
    height: 48px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.type-img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: auto;
}

.pokemon-type {
    display: flex;
    gap: 16px;
}

.loading-gif {
    width: 80px;
}

#loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

#dialog {
    margin: auto;
    position: fixed;
    top: 20%;
    z-index: 3;
    outline: none;
    border: none;
    padding: 0;
    border-radius: 18px;
}

.pokemon-dialog {
    border-radius: 16px;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color: white;
    width: 450px;
}

.types-dialog img {
    width: 150px;
}

.pokemon-type-dialog {
    display: flex;
    gap: 8px;
}

.pokemon-info {
    display: flex;
    width: -webkit-fill-available;
    font-size: 20px;
}

.pokemon-info span {
    cursor: pointer;
    padding: 8px 16px 8px 16px;
    width: 33%;
    text-align: center;
}

.underline {
    border-bottom: solid 4px #85030d;
}

.info:hover {
    border-bottom: solid 4px #cccccc;
}

.main-info {
    display: flex;
    flex-direction: column;
}

.pokemon-details {
    width: -webkit-fill-available;
}

.single-info {
    display: flex;
    justify-content: space-between;
    padding: 8px 64px;
}

.base-stat {
    background-color: #99020e;
    border-radius: 16px;
    height: 24px;
    padding-left: 8px;
    display: flex;
    align-items: center;
}

.stat-width {
    width: 300px;
    height: 24px;
    background-color: rgb(26, 25, 25);
    border-radius: 16px;
}

.single-stat {
    display: flex;
    justify-content: space-between;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px 16px;
}