header {
    padding: 32px;
    display: flex;
    width: -webkit-fill-available;
    align-items: center;
    justify-content: space-between;
    background-color: #1c0202;
    color: white;
}

input {
    border-radius: 8px;
    border: none;
    padding: 4px 8px;
    width: 150px;
}

input:focus {
    outline: none;
}

footer {
    padding: 32px;
    background-color: #1c0202;
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.pokeball {
    width: 48px;
}

button {
    padding: 10px 24px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    background-color: #1C0202;
    color: white;
    font-size: 16px;
}

button:hover {
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.d_none {
    display: none;
}