.grass {
    background-color: #034009;
}

.fire {
    background-color: #570303;
}

.water {
    background-color: #022f63;
}

.bug {
    background-color: #325702;
}

.normal {
    background-color: #4f4f4f;
}